@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import 'Null.scss';
body{
  font-family: 'Audiowide', cursive;
  background-color: #282c34;
}
body a{
  text-decoration: none;
}